@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
  background: #e5e5e5;
  box-sizing: border-box;
}

.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4e8d5;
  color: #636363;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.navbar-left a {
  display: inline-flex;
}
.navbar-left a svg {
  padding: 20px;
}

.navbar-right,
.nav-title,
.nav-counter,
.nav-time {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.nav-title,
.nav-counter,
.nav-time {
  flex-direction: column;
}
.span-name {
  font-size: 12px;
}
.span-number {
  font-size: 16px;
}

.navbar-dropdown {
  position: fixed;
  top: 74px;
  background-color: #d4e8d5;
  right: auto;
  width: 200px;
  height: 100vh;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
#cover {
  position: fixed;
  top: 74px;
  left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.hidden {
  display: none;
}

.lang-group {
  display: flex;
}
ul,
.lang-group {
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}

.nav-link,
.lang-link {
  display: block;
  padding: 10px;
  border-left: 5px solid #d4e8d5;
  text-decoration: none;
  color: #636363;
}
.nav-link:hover,
.lang-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 5px solid #34c5ce;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-side-main {
  width: 50%;
  height: 100%;
}

.right-side-main {
  width: 50%;
  height: 100%;
  background: rgb(230, 234, 235);
}

.question-image {
  height: 65%;
  width: 100%;
  background: rgb(224, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-part {
  height: 35%;
  width: 100%;
  background: rgb(173, 170, 170);
  display: flex;
  align-items: center;
  text-align: center;
}

.for-fun {
  height: 100%;
}

.answer-inner-div-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

.answer-inner-div-first div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid lightgreen;
  padding: 5px;
  height: 50px;
  width: 200px;
}

.answer-inner-div-second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.submit-button {
  height: 50px;
  width: 200px;
}

section {
  display: inline-block;
}

input {
  margin-bottom: 3px;
  margin-right: 10px;
}
