@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
  background: #e5e5e5;
  box-sizing: border-box;
}

.navbar-top {
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4e8d5;
  color: #636363;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 10;
}
.navbar-left a {
  display: inline-flex;
}
.navbar-left a svg {
  padding: 20px;
}

.navbar-right,
.nav-title,
.nav-counter,
.nav-time {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.nav-title,
.nav-counter,
.nav-time {
  flex-direction: column;
}
.span-name {
  font-size: 12px;
}
.span-number {
  font-size: 16px;
}

.navbar-dropdown {
  position: absolute;
  top: 74px;
  background-color: #d4e8d5;
  right: auto;
  width: 200px;
  height: auto;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
}
.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
li {
  padding: 10px;
}
.nav-link {
  text-decoration: none;
  color: #636363;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-side-main {
  width: 50%;
  height: 100%;
}

.right-side-main {
  width: 50%;
  height: 100%;
  background: rgb(230, 234, 235);
}

.question-image {
  height: 65%;
  width: 100%;
  background: rgb(224, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-part {
  height: 35%;
  width: 100%;
  background: rgb(173, 170, 170);
  display: flex;
  align-items: center;
  text-align: center;
}

.for-fun {
  height: 100%;
}

.answer-inner-div-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

.answer-inner-div-first div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid lightgreen;
  padding: 5px;
  height: 50px;
  width: 200px;
}

.answer-inner-div-second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.submit-button {
  height: 50px;
  width: 200px;
}

section {
  display: inline-block;
}

input {
  margin-bottom: 3px;
  margin-right: 10px;
}
