@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  background: #e5e5e5;
  box-sizing: border-box;
}

#wrap {
  display: grid;
  grid-template-rows: 74px 1fr;
  height: 100vh;
}

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4e8d5;
  color: #636363;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.navbar-left a {
  display: inline-flex;
}
.navbar-left a svg {
  padding: 20px;
}

.navbar-center {
  flex: 0 1 150px;
  text-align: center;
}
.mobnav-right {
  display: none;
}
.navbar-right,
.nav-title,
.nav-counter,
.nav-time {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.nav-title,
.nav-counter,
.nav-time {
  flex-direction: column;
}
.span-name {
  font-size: 12px;
}
.span-number {
  font-size: 16px;
}

#dropdown {
  position: fixed;
  top: 74px;
  background-color: #d4e8d5;
  right: auto;
  width: 200px;
  height: 100vh;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
#cover {
  position: fixed;
  top: 74px;
  left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.hidden {
  display: none;
}

.lang-group {
  display: flex;
}
ul,
.lang-group {
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}

.nav-link,
.lang-link {
  display: block;
  padding: 10px;
  border-left: 5px solid #d4e8d5;
  text-decoration: none;
  color: #636363;
}
.nav-link:hover,
.lang-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 5px solid #34c5ce;
}

@media only screen and (max-width: 480px) {
  .mobnav-right {
    position: relative;
    top: 6px;
    display: flex;
    justify-content: space-evenly;
  }
  .mobnav-right span {
    padding: 0 5px;
  }
  #dropdown {
    width: 100%;
  }
  #cover,
  .nav-counter,
  .nav-time {
    display: none;
  }
}

.container {
  display: flex;
}

.left-side-main {
  width: 50%;
}

.right-side-main {
  width: 50%;
  background: rgb(230, 234, 235);
}

.question-image {
  height: 65%;
  background: rgb(224, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-part {
  height: 35%;
  background: rgb(173, 170, 170);
  display: flex;
  align-items: center;
  text-align: center;
}

.right-side-main-form {
  height: 100%;
}

.answer-inner-div-first {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-inner-div-first div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid lightgreen;
  padding: 5px;
  height: 50px;
  width: 200px;
}

.answer-inner-div-second {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  height: 50px;
  width: 200px;
}

input {
  margin-bottom: 3px;
  margin-right: 10px;
}

/* Result page - progress ring */
.container-2{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-2 .circle_loader {
  fill: none;
  stroke: #14ff00;
  stroke-width: 10px;
  transform-origin: center;
  transform: rotate(-90deg);
}

.container-2 text {
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 30px;
}

.container-2 h1 {
  font-size: 50px;
}
.container-2 p {
  font-size: 30px;
}
.container-2 .buttons {
  margin-top: 60px;
  margin-bottom: 60px;
}
.container-2 a{
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: white;
}
.green{
  background-color: green;  
  border: 2px solid green;
  border-radius: 15px;
}
.blue{
  background-color: blue;
  border: 2px solid blue;
  border-radius: 15px;
}